<div class="row">
  <div class="col zero-padding">
  <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(42).jpg" width="100%" alt="burger" class="img-fluid"/>
  </div>
  <div class="col zero-padding">
    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(40).jpg" width="100%" alt="pancakes" class="img-fluid"/>
  </div>
  <div class="col zero-padding">
    <img src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(151).jpg" width="100%" alt="ice-cream" class="img-fluid"/>
  </div>
</div>
<br/>
<div class="container text-center">
  <h1>Welcome to Foodder</h1>
  <br/>
  <h4>Login and order most delicious food in area</h4>
  <br/>
  <p class="font-italic font-weight-bold">“We all eat, and it would be a sad waste of opportunity to eat badly.” -Anna Thomas</p>
  <br/>
  <br/>
  <a mdbBtn [routerLink] = "'login'" gradient="peach" rounded="true" mdbWavesEffect>Login and order</a>
</div>
